output/SAMPLE_XSD_CP030.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.eurexchange.com/technology" targetNamespace="http://www.eurexchange.com/technology" elementFormDefault="qualified">
	<xsd:include schemaLocation="prisma_report_data_types.xsd" />
	<xsd:element name="cp030" minOccurs="1" maxOccurs="1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="rptHdr" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="clgHseInd3" type="clgHseInd3Type" minOccurs="1" maxOccurs="1" />
							<xsd:element name="clgHseLglNam" type="clgHseLglNamType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="envText" type="envTextType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="rptCod" type="rptCodType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="rptNam" type="rptNamType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="rptFlexKey" type="rptFlexKeyType" minOccurs="0" maxOccurs="1" />
							<xsd:element name="membId" type="membIdType" minOccurs="0" maxOccurs="1" />
							<xsd:element name="membLglNam" type="membLglNamType" minOccurs="0" maxOccurs="1" />
							<xsd:element name="rptPrntEffDat" type="rptPrntEffDatType" minOccurs="1" maxOccurs="1" />
							<xsd:element name="rptPrntEffTim" type="rptPrntEffTimType" minOccurs="0" maxOccurs="1" />
							<xsd:element name="rptPrntRunDat" type="rptPrntRunDatType" minOccurs="1" maxOccurs="1" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="cp030Grp" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="cp030KeyGrp" minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="membClgIdCod" type="membClgIdCodType" minOccurs="1" maxOccurs="1" />
										<xsd:element name="membClgIdNam" type="membClgIdNamType" minOccurs="1" maxOccurs="1" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="cp030Grp1" minOccurs="1" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="cp030KeyGrp1" minOccurs="1" maxOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="membExchIdCod" type="membExchIdCodType" minOccurs="1" maxOccurs="1" />
													<xsd:element name="membExchIdNam" type="membExchIdNamType" minOccurs="1" maxOccurs="1" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="cp030Grp2" minOccurs="1" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="cp030KeyGrp2" minOccurs="1" maxOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="poolId" type="poolIdType" minOccurs="1" maxOccurs="1" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="cp030Grp3" minOccurs="1" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="cp030KeyGrp3" minOccurs="1" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="acctTypGrp" type="acctTypGrpType" minOccurs="1" maxOccurs="1" />
																			<xsd:element name="liqGrpId" type="liqGrpIdType" minOccurs="1" maxOccurs="1" />
																			<xsd:element name="liqGrpSplit" type="liqGrpSplitType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="undrIdCod" type="undrIdCodType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="SecuIsin" type="SecuIsinType" minOccurs="0" maxOccurs="1" />
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="cp030rec" minOccurs="1" maxOccurs="unbounded">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="currTypCod" type="currTypCodType" minOccurs="1" maxOccurs="1" />
																			<xsd:element name="compVar" type="compVarType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="compCBA" type="compCBAType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="compLOC" type="compLOCType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="compTEA" type="compTEAType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="compCE" type="compCEType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="compPMA" type="compPMAType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="liquidityRisk" type="liquidityRiskType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="initialMargin" type="initialMarginType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="mgnLiqDlvAmnt" type="mgnLiqDlvAmntType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="premMargin" type="premMarginType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="unadjMgnReq" type="unadjMgnReqType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="variationPremium" type="variationPremiumType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="variationMargin" type="variationMarginType" minOccurs="0" maxOccurs="1" />
																			<xsd:element name="premPayment" type="premPaymentType" minOccurs="0" maxOccurs="1" />
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>